<section class='main-section client-part' id='client'>
  <div class='container'>
    <b class='quote-right wow fadeInDown delay-03'><i class='fa-quote-right'></i></b>
    <div class='row'>
      <div class='col-lg-12'>
        <p class='client-part-haead wow fadeInDown delay-05'>It was a pleasure to work with Content Bunch. They made sure that our requirements are fully satisfied. Thumbs up for the team and i will definitely recommend them!</p>
      </div>
    </div>
    <ul class='client wow fadeIn delay-05s'>
      <li><a href='#'>
        <%= image_tag('client-pic1.jpg') %>
        <h3>Micheal Laurance</h3>
        <span>Mybusiness Inc.</span>
      </a></li>
    </ul>
  </div>
</section>
<div class='c-logo-part'>
  <div class='container'>
    <ul>
      <li><a href='#'><%= image_tag('c-liogo1.png') %></a></li>
      <li><a href='#'><%= image_tag('c-liogo2.png') %></a></li>
      <li><a href='#'><%= image_tag('c-liogo3.png') %></a></li>
      <li><a href='#'><%= image_tag('c-liogo4.png') %></a></li>
      <li><a href='#'><%= image_tag('c-liogo5.png') %></a></li>
    </ul>
  </div>
</div>
