<section class='business-talking' id='contact'>
  <div class='container'>
    <h2>Let’s Talk Business.</h2>
  </div>
</section>
<div class='container'>
  <section class='main-section contact'>
    <div class='row'>
      <div class='col-lg-6 col-sm-7 wow fadeInLeft'>
        <div class='contact-info-box address clearfix'>
          <h3><i class='icon-map-marker'></i>Address:</h3>
          <span>P-97, 98 Saddiq Trade Center Lahore, Pakistan</span>
        </div>
        <div class='contact-info-box phone clearfix'>
          <h3><i class='fa-phone'></i>Phone:</h3>
          <span>0092-0324-5012250</span>
        </div>
        <div class='contact-info-box email clearfix'>
          <h3><i class='fa-pencil'></i>email:</h3>
          <span>contentbunch@gmail.com</span>
        </div>
        <div class='contact-info-box hours clearfix'>
          <h3><i class='fa-clock-o'></i>Hours:</h3>
          <span><strong>Monday - Thursday:</strong> 10am - 6pm<br><strong>Friday:</strong> People work on Fridays now?<br><strong>Saturday - Sunday:</strong> Yahooo it's holiday.</span>
        </div>
        <ul class='social-link'>
          <li class='twitter'><a href='#'><i class='fa-twitter'></i></a></li>
          <li class='facebook'><a href='https://www.facebook.com/Content-Bunch-1648143405443109'><i class='fa-facebook'></i></a></li>
          <li class='pinterest'><a href='#'><i class='fa-pinterest'></i></a></li>
          <li class='gplus'><a href='#'><i class='fa-google-plus'></i></a></li>
          <li class='dribbble'><a href='#'><i class='fa-dribbble'></i></a></li>
        </ul>
      </div>
      <div class='col-lg-6 col-sm-5 wow fadeInUp delay-05s'>
        <%= form_for Contact.new, remote: true, html: { class: 'form' } do |f| %>
          <%= f.text_field :name, placeholder: 'Your Name *', required: true, class: 'input-text' %>
          <%= f.email_field :email, placeholder: 'Your E-mail *', required: true, class: 'input-text' %>
          <%= f.text_area :message, placeholder: 'Your Message *', required: true, class: 'input-text text-area' %>
          <%= f.submit 'Send message', class: 'input-btn',"data-disable-with" => 'Please wait...' %>
          <div class='contact-us-success hidden'>Message sent!. We will contact back to you.</div>
        <% end %>
      </div>
    </div>
  </section>
</div>
