<section class='main-section paddind' id='Portfolio'>
  <div class='container'>
    <h2>Portfolio</h2>
    <h6>Fresh portfolio of tools that will keep your business or product in market</h6>
    <div class='portfolioFilter'>
      <ul class='Portfolio-nav wow fadeIn delay-02s'>
        <li><a href='#' data-filter='*' class='current' >All</a></li>
        <li><a href='#' data-filter='.quizzes' >Quiz</a></li>
        <li><a href='#' data-filter='.polls' >Poll</a></li>
        <li><a href='#' data-filter='.contests' >Contest</a></li>
        <li><a href='#' data-filter='.rankers' >Ranking Tool</a></li>
        <li><a href='#' data-filter='.custom-tools' >Custom Tool</a></li>
        <li><a href='#' data-filter='.featured-websites' >Featured Website</a></li>
      </ul>
    </div>
  </div>
  <div class='portfolioContainer wow fadeInUp delay-04s'>
    <div class='Portfolio-box quizzes'>
      <a href='#'><%= image_tag('Portfolio-pic1.jpg') %></a>
      <h3>Sample quiz</h3>
      <p>Client 1</p>
    </div>
    <div class='Portfolio-box polls'>
      <a href='#'><%= image_tag('Portfolio-pic2.jpg') %></a>
      <h3>Sample poll</h3>
      <p>Client 2</p>
    </div>
    <div class='Portfolio-box contests'>
      <a href='#'><%= image_tag('Portfolio-pic3.jpg') %></a>
      <h3>Sample contest</h3>
      <p>Client 3</p>
    </div>
    <div class='Portfolio-box rankers'>
      <a href='#'><%= image_tag('Portfolio-pic4.jpg') %></a>
      <h3>Sample Ranking tool</h3>
      <p>Client 4</p>
    </div>
    <div class='Portfolio-box custom-tools'>
      <a href='#'><%= image_tag('Portfolio-pic5.jpg') %></a>
      <h3>Sample cutom tool</h3>
      <p>Client 5</p>
    </div>
    <div class='Portfolio-box featured-websites'>
      <a href='#'><%= image_tag('Portfolio-pic6.jpg') %></a>
      <h3>Sample website</h3>
      <p>Client 6</p>
    </div>
  </div>
</section>
