<section class='main-section alabaster' id='tools'>
  <div class='container'>
    <h2>Interactive Tools</h2>
    <h6>We provide solutions in form of quizzes, polls, interesting contests and many interactive tools.</h6>
  </div>
  <div class='tools-container wow fadeInUp delay-04s'>
    <div class='tools-box printdesign'>
      <a href='#'><%= image_tag('quiz.jpg') %></a>
      <h3>Quiz</h3>
    </div>
    <div class='tools-box'>
      <a href='#'><%= image_tag('poll.jpg') %></a>
      <h3>Poll</h3>
    </div>
    <div class='tools-box'>
      <a href='#'><%= image_tag('contest.jpg') %></a>
      <h3>Contest</h3>
    </div>
    <div class='tools-box'>
      <a href='#'><%= image_tag('ranker.jpg') %></a>
      <h3>Ranking Tool</h3>
    </div>
    <div class='tools-box' >
      <a href='#'><%= image_tag('customize.jpg') %></a>
      <h3>Custom Tool</h3>
    </div>
    <div class='tools-box'>
      <a href='#'><%= image_tag('web.jpg') %></a>
      <h3>Featured Web Site</h3>
    </div>
  </div>
</section>
