<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <meta property="fb:app_id" content="879109968854977" />
  <meta property='og:title' content='Welcome to Content Bunch'/>
  <meta property='og:url' class='share_url' content='http://www.contentbunch.com'/>
  <meta property='og:site_name' content='Content Bunch'/>
  <meta property='og:description' content='We are a marketing and content development company.'/>
  <meta property='og:image' content='<%= image_url('app-image.png') %>'/>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

  <title>Content Bunch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
